html {
    /* background-image: url("..images/honey_im_subtle.png"); */
}

body {
    width: 960px;
    margin: 0 auto 0;
    background-image: url("../images/honey_im_subtle.png");
}
#container {
    background-color:white;
}

h1 {
    background-color:teal;
    margin: 0;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; 
    text-align: center;
    width: 250px;
    float: left;
    /* position: relative; */
}

ul{
    float: right;
    /* position:absolute; */
    margin-top: 80px;
}

li {
display:inline;
text-align: center;
}

h2 {
   clear:both; 
}

a {
    text-decoration: none;
    color: black;
}

img.align-left {
     float: left;
     margin-right: 20px;
}

h2 {
    color: teal;
}

h1, h2 {
    font-family: "Georgia", 'Times New Roman', Times, serif
}

#about-me{
   clear:both;
   background-color: white;
   overflow:auto;
   padding: 30px;
}

.footer {
    clear:both;
    display: flex;
    margin-top: auto;
    background-color: teal;
    position: fixed;
    bottom:0;
    left:0;
    padding: 30px;
    width: 100%;
    text-align: center;   
}

#contact {
    background-color: white;
}

#message-box{
    width: 700px;
}

input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

