html {
    font-size: 1rem;
    /* margin: 0 auto 0 auto; */
}

@media screen and (max-width: 767px) {
    .margin-top-xs {
        margin-top: 80px;
    }

    p {
        font-size: 0.8rem;
    }

    #skills {
        display: inline-block;
    }

    .skill-logo {
        display: inline-block;
    }
}


@include media-breakpoint-up(xs) {
    .margin-top-xs {
        margin-top: 20px;
    }
    .skill-logo{
        display: inline-block;
    }
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;


        .main-container {
            margin: 10px !important;
        }
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.hideme {
    opacity: 0;
}

i {
    padding-right: 20px;
    color: rgb(224, 100, 16);
    display: block;
    padding: 3px !important;
    border: 5px;

}

#list-current {
    text-align: center;

}


.skill-logo {
    position: relative;
    /* display: flex; */
    justify-content: space-evenly;
    padding-bottom: 20px !important;

}

#skills {
    border: 1px solid rgb(224, 100, 16);
    border-radius: 5px;
    display: inline-block;
    justify-content: space-evenly !important;
    padding: 5px;
    box-shadow: 2.5px 5px grey;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#main-nav {
    overflow: hidden;
    background-color: rgb(224, 100, 16);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.nav-link:hover {
    transform: scale(1.2);
}

#workExperience,
.container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 30px !important;
    padding-right: 30px !important;

}

#social {
    width: 30px;
    color: rgb(224, 100, 16);
    ;
}

/* main {
    background-image: url(/assets/images/truck.jpg)
} */
h3 {
    text-align: center;
}

#location {
    text-align: right;
}

/* .main-container{ */
/* max-width: 960px; */
/* margin: 10px; */
/* margin: auto; */

/* } */
.header {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif !important;
    /* font-family: 'Amiko', sans-serif; */
    /* font-family: 'Arima Madurai', cursive; */
    /* font-family: 'Farsan', cursive; */
    /* font-family: 'Lalezar', cursive; */
    /* font-family: 'Mogra', cursive; */
    /* font-family: 'Rakkas', cursive; */
    /* font-family: 'Rasa', serif; */
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Suez One', serif; */
    /* font-family: 'Yatra One', cursive; */
    position: sticky;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: teal;
    color: white;
    padding: 10px;
    text-align: center;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    box-sizing: border-box;
    /* background-color: rgb(224, 100, 16) #ddd; */
    border: 5px solid rgb(224, 100, 16);
    padding: 30px;
    /* border-color: rgb(224, 100, 16); */
    border: 10px;

}

.button-style {

    text-align: center;
}

.clearfix {
    clear: both;
}

.footer-style {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(224, 100, 16);
    ;
    color: white;
    text-align: center;
    vertical-align: middle;
    /* margin-top: 16px !important; */
}

body {
    /* margin-left: 30px;
    margin-right: 30px; */
    background-color: rgb(224, 100, 16) !important;
}

.fab .fa-linkedin {
    color: orangered;
}

h1 {
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Ranga', cursive; */
    /* font-family: 'Francois One', sans-serif; */
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Audiowide', cursive !important;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    /* font-family: 'Playball', cursive; */
    /* font-family: 'Oleo Script', cursive; */
    /* font-family: 'Carter One', cursive; */
    text-shadow: 2px 2px 4px #000000;
}

h1,
h4 {
    text-align: center;
}

h3,
h4 {
    font-family: 'Acme', sans-serif !important;
    text-shadow: 2px 2px 4px #7c7b7b;
}

.responsive {
    width: 100%;
    height: auto;
}

.container-style {
    background-color: white;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
}

.row-style {
    justify-content: space-evenly;
    align-content: flex-start;
}